<!DOCTYPE html>
<html>
<head>
   
    <title>{{ disease.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <h1 class="h">{{ disease.name }}</h1>
    <h2 class="">Disease Discrption</h2>
    <p>{{ disease.description }}</p>
    <h2 class="">Medicine</h2>
    <p>{{ disease.medicine }}</p>
    <h2>Symptoms:</h2>
    <ul>
       <!--loop to show the other symptoms -->
        {% for symptom in disease.symptoms.all %}
            <li class="a">{{ symptom.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
