<!DOCTYPE html>
<html>
<head>
    <title>Symptom Checker</title>
    {% load static %}<!--to allow the css file to work-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>
<body>
    
    <h1 class="h">Symptom Checker <br></h1>
    <button id="toggleButton">to see the available symptoms click here</button> <!--button to view the available symptoms in the website-->
    <ol class="hidden" id="myList">
        {% for disease in soso %}
            <li style="background:none; padding: 2.5px;"><a>{{ disease.name }}</a></li>
        {% endfor %}
    </ol>
    <form method="post" class="center">
        
       
        
        {% csrf_token %}
        {{ form.as_p }}
        
        
        <button type="submit">Check Symptoms</button>
        <p>write each symptom in line</p>
    </form>
</body>
    <!--java script-->
<script>
    const toggleButton = document.getElementById("toggleButton");
    const myList = document.getElementById("myList") ;//the id of the list
  
    toggleButton.addEventListener("click", () => {
      myList.classList.toggle("hidden");
    });
  </script>
</html>
